# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.DS_Store

# Build output
build/
dist/
coverage/
.cache/
out/

# Editor settings
.idea/
.vscode/
*.swp
