# System
.DS_Store
.idea/

# Docker
*.pid
*.seed
*.pid.lock
docker-data/
*.log

# Environment
.env
.env.local

# Node modules in subfolders (fallback)
**/node_modules/
**/package-lock.json
**/build/
**/dist/