version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: webchat-backend
    env_file:
      - ./backend/src/config/.env
    ports:
      - "4000:4000"
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: webchat-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
