# dependencies
node_modules/
package-lock.json

# logs
logs/*.log
*.log

# environment variables
.env
.env.*
!.env.example

# uploads
uploads/

# testing
coverage/

# system files
.DS_Store
package-lock.json
